[alias]
  a = add
  s = status
  ss = status -s
  b = branch
  ci = commit
  co = checkout
  cp = cherry-pick
  cf = clang-format

  lg = log --graph '--pretty=tformat:%Cblue%h%Creset %Cgreen%ar%Creset %Cblue%d%Creset %s (%an)'

  st = stash
  stp = stash pop
  stl = stash list

  su = submodule update
  sur = submodule update --init --recursive

  up = "!git pull origin"
  pu = "!git push --set-upstream origin $(git symbolic-ref --short HEAD)"
  upsub = "!f() { cd $1 && git checkout master && git pull && git sur; }; f"
  upsuba = "!git submodule foreach 'git checkout master && git pull && git sur'"
  br = "!f() { git checkout master && git branch -D $1 && git branch $1 && git checkout $1; }; f"
  mm = "!f() { BRANCH=`git rev-parse --abbrev-ref HEAD` && git checkout master && git pull && git checkout $BRANCH && git merge master; }; f"
  ours = "!f() { git co --ours $@ && git add $@; }; f"
  theirs = "!f() { git co --theirs $@ && git add $@; }; f"
  commit-undo = reset --soft HEAD~

[color]
  ui = true

[push]
  default = simple

[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f

[user]
  name = Mykhailo Karpenko
  email = me@mkarp.co

[core]
  editor = vim
  excludesfile = ~/.gitignore

[credential]
  helper = osxkeychain

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
